@import "http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css";

input {
	font-family: Arial, FontAwesome;
	margin-bottom: 5px;
	max-width: 300px;
}

input::after {
	content: "&#xF007;"
}
